-e git+https://github.com/acep-aedg/aedg-metadata.git@f24644be39c2550f801b944ec3360773cdc7b70e#egg=aedg_metadata
attrs==25.4.0
certifi==2025.11.12
click==8.3.1
et_xmlfile==2.0.0
geopandas==1.1.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
markdown-it-py==4.0.0
mdurl==0.1.2
numpy==2.3.4
oemetadata==2.0.4
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
Pygments==2.19.2
pyogrio==0.11.1
pyproj==3.7.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
rich==14.2.0
rpds-py==0.29.0
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
stringcase==1.2.0
typer==0.20.0
typing_extensions==4.15.0
tzdata==2025.2
